html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  color: #282828;
  background-color: #fcf7e6;
}

img {
  display: inline-block;
  max-width: 100%;
}

/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

/* change to a material ui button and make it the standard header color to fit the theme and make sure to adjust the hover colors for the other buttons below if I keep any. */
.btn {
  display: inline-block;
  padding: 10px 20px;
  border-color: rgba(40, 40, 40, .40);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #e1ad01;
  color: #282828;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
} 

.btn_stretched {
  display: inline-block;
  padding: 10px 20px;
  border-color: rgba(40, 40, 40, .40);
  border-width: 1px 1px 3px;
  border-radius: 4px;
  background-color: #e1ad01;
  color: #282828;
  font-size: 1.1rem;
  outline: 0;
  cursor: pointer;
  width: 100%;
} 

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
}

.btn_sizeFull {
  display: block;
  width: 100%;
}

.btn:hover {
  background-color: rgba(225, 173, 1, .75);
  text-decoration: none;
}

/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid rgba(40, 40, 40, .40);
  border-radius: 0;
  background: none;
  font: inherit;
  color: #282828;
}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #E1AD01;
  color: #E1AD01;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #fcf7e6;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(40, 40, 40, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;
  background-color: #fcf7e6;
}

/* --------------------------------------------------------------------------------
UserPage Treatment
-------------------------------------------------------------------------------- */

.ideas_names{
  margin: auto;
}
.artists_names{
  margin: auto;
}

.header_pad{
  text-align: center;
}

.header_ideas{
  text-align: center;
}

.header_artists{
  text-align: center;
}

.mui_link{
  color: #282828;
  text-decoration: none;
}

