footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  color: #282828;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  border-top: 2px dotted #005249;
}

.svg_github{
  width: 44%;

}



/* .svg_container{
  flex-direction: column;

} */